[2017-05-30 06:37] dselivanov opened #1 "add option to make factors non-negative"

[2017-06-12 08:41] #1 closed

[2017-08-12 09:16] dselivanov opened #3 "Linear-FLow"
Looks like it should be easy to implement **Linear-FLow** algorithm which promises good performance in one-class collaborative filtering (OC-CF) problems. Check this paper for details:
[Practical Linear Models for Large-Scale One-Class Collaborative Filtering](http://www.bkveton.com/docs/ijcai2016.pdf).

Looks similar to SLIM algorithm.

BTW SLIM is implemented in [slimrec](https://cran.r-project.

[2017-09-07 10:07] #3 closed

[2017-09-13 06:48] dselivanov opened #4 "Deployment as RESTful service"
Several choices:
- [plumber](https://github.com/trestletech/plumber)
- [Rserve](https://github.com/s-u/Rserve)
- [opencpu](https://www.opencpu.org/) (updated)
- ~[jug](http://bart6114.github.io/jug/index.html) (updated)~
- something else?

[2017-09-13 08:49] talegari commented on #4
[opencpu](https://www.opencpu.org/) ?

[2017-09-13 08:53] RobertKomara opened #5 "Integer comparison compilation warning"
## Issue: compilation warning

Hi there and thanks for the interesting package. I have been using it quite a bit and wouldn't mind helping out if I can.  I am getting this compilation warning:

utils.cpp:43:19: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
       if(q.size() < k){
                   ^

[code]
Show in New WindowClear OutputExpand/Collapse Outp

[2017-09-13 10:14] #5 closed

[2017-09-13 10:23] dselivanov commented on #5
Thanks for reporting. Should be fixed now. Could you check?

[2017-09-13 10:50] RobertKomara commented on #5
I confirm that fixes the warning. Thanks!

[2017-09-13 18:24] dselivanov commented on #5
@RobertKomara sorry I missed last paragraph. Any help is very appreciated. I'm planning to add some data and write tests for most of the functionality. I will ping you. Thanks!

[2017-09-19 07:55] dselivanov opened #6 "WRMF vignette"
- [ ] explain confidence
- [ ] solvers - cholesky, conjugate gradient
- [ ] checking convergence
- [ ] excluding items from prediction

[2017-09-19 07:58] dselivanov opened #7 "Linear-FLow vignette"
- [ ] objective
- [ ] SVD tricks - `irlba::irlba` vs `irlba::svdr` + [MatrixCSR](https://github.com/dselivanov/MatrixCSR)
- [ ] fast grid-search  for `lambda` based on cross-validation

[2017-09-20 11:08] pshashk commented on #4
[jug](http://bart6114.github.io/jug/index.html)? There is also a node.js based [plugin](https://github.com/Bart6114/jug.parallel) for parallel processing, but I haven't tried it.

Things like request [memoization](https://github.com/r-lib/memoise) and approximate nearest neighbor search (e.g., [Annoy](https://github.com/eddelbuettel/rcppannoy) if L2 norms are approximately equal) might also be use

[2017-09-25 04:52] dselivanov opened #8 "PureSVD"
From [Performance of Recommender Algorithms on Top-N Recommendation Tasks](https://www.researchgate.net/profile/Paolo_Cremonesi/publication/221141030_Performance_of_recommender_algorithms_on_top-N_recommendation_tasks/links/55ef4ac808ae0af8ee1b1bd0.pdf) it seems like vanilla truncated SVD (which they call "PureSVD") is a good baseline for OC-CF settings. So worth to implement separate class for th

[2017-10-12 11:59] dselivanov opened #9 "Thread-safe access to sparse matrix elements with arma 8.100+"
With arma 8.100 [this chunk](https://github.com/dselivanov/reco/blob/d4e354df3db936e490d023e17d5b91c0914ec139/src/utils.cpp#L29-L57) crashes  because `arma::sp_mat mat` is not declared as constant (see https://github.com/RcppCore/RcppArmadillo/issues/179).

[2017-10-12 13:16] #9 closed

[2017-11-09 18:59] dselivanov commented on #8
I've added fast implementation of soft-svd  -  truncated SVD with regularization on nuclear norm (adopted from softImpute package). Now need to expose R6 class with cross-validation with warm-starts.

[2017-11-24 07:32] saraswatmks opened #10 "How to install reco R package ?"
Hello

I am unable to install this package. Also, I cannot find any documentation about how to install.
I am getting the following error:

Installing package into ‘/home/manish/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)
Warning in install.packages :
  package ‘reco’ is not available (for R version 3.4.1)

Please advise.

Best,
Manish

[2017-11-24 07:46] dselivanov commented on #10
Hi. It is not on cran yet. You can use `devtools::install_github("dselivanov/reco")`

[2017-11-24 08:04] saraswatmks commented on #10
This works. Thanks.

[2017-11-24 08:04] #10 closed

[2017-11-24 09:35] saraswatmks opened #11 "How to get ALS function ?"
Hello Dmitriy

How did you use ALS function ? I cannot find in the package. Is there any other package I should load?
The command below doesn't work.

model = ALS$new(rank = 8)

I am trying to reproduce the results from your blog ([matrix factorisation part 2](http://dsnotes.com/post/2017-06-28-matrix-factorization-for-recommender-systems-part-2/)) and faced this problem.

[2017-11-25 13:24] #8 closed

[2017-11-27 17:35] dselivanov opened #12 "Simple shiny demo based on lastfm-360k"
### Recommendation types

- [ ] similar artists
- [ ] recommendations for a given list of artists (considering it as history of listenings)

### Methods

- [ ] PureSVD
- [ ] WRMF (implicit feedback)
- [ ] MMMF (explicit feedback)
- [ ] LinearFlow with svd initialization
- [ ] LinearFlow with soft-impute initialization

[2017-12-07 05:04] dselivanov opened #13 "single precision solvers"
Allow to use single precision - possible to use 2x more data and fit 2x faster. See [float](https://github.com/wrathematics/float) package.

- [x] WRMF for implicit feedback
- [ ] WRMF for explicit feedback
- [x] soft-svd

[2017-12-19 07:46] blutab opened #14 "Not able to find 'ALS' function"
Hi,

I am not able to find a function 'ALS' which you had used in this post:
http://dsnotes.com/post/2017-06-28-matrix-factorization-for-recommender-systems-part-2/

Kindly help.

Regards.

[2017-12-19 07:48] dselivanov commented on #14
See `wrmf` function.

[2017-12-19 07:48] #14 closed

[2017-12-28 12:51] dfalbel opened #15 "input a list of items in not_recommend?"
First of all, thanks very much for this package!

In my use case, I have to check the stock and see which products are available for recommendations. So usually I will have a list of items that I can't recommend for all users - This list may be very large.

I'm creating a sparse matrix with a lot of columns full of ones, and this is very slow. Would it be possible to pass a vector of items for the

[2017-12-28 13:59] dselivanov commented on #15
It is definitely possible - need just to ignored those items/item embeddings. I will think about how to include this option because I also have such use case. I the meantime you can use `transform` method to get user embeddings. And then multiply user embeddings by item embeddings (components) without out of stock items. Hope it helps.
I'm traveling at the moment, will provide some code once I wil

[2017-12-28 16:55] dfalbel commented on #15
thanks very much!! This works fine!

[2017-12-28 19:23] dfalbel commented on #15
I used the following to create the predictions:

[code]

Do you think this is right?

[2017-12-28 21:16] dselivanov commented on #15
Yes

28 дек. 2017 г. 23:24 пользователь "Daniel Falbel" <notifications@github.com>
написал:

[2018-01-09 08:00] dselivanov commented on #4
Sadly `jug` [is orphaned now](http://fishyoperations.com/2018/01/07/discontinuing-maintenance-jug.html).

[2018-01-10 14:06] #15 closed

[2018-01-10 14:08] dselivanov commented on #15
please test if you will have a chance - `items_exclude` argument. Can be both integer or character - indices or ids.

[2018-01-10 14:08] dfalbel commented on #15
thanks! I'll test as soon as possible.

[2018-01-30 11:52] dselivanov commented on #10
duplicate #14 #11 - see `WRMF` class

[2018-01-30 12:01] mayankgoel4 commented on #10
thanks. WRMF function works instead of ALS..

[2018-02-07 13:52] dselivanov commented on #13
Adding soft-svd to the list.

[2018-02-07 15:10] #13 closed

[2018-02-09 02:49] mayankgoel4 commented on #14
Hi Dmitriy,
I am working on a problem that have 0.1M Users & 0.5M products and hence was replicating your Lastfm datasets code steps for Reco package. However, while splitting data into train & validation noticed that user base is different in validation set than on which model is getting trained. So was confused how MF model will be predicting on this validation set when latent factors from train

[2018-02-09 04:20] dselivanov commented on #14
This is correct and very fair cross validation split. See section "Recommendations for new users" which explains who to predict items for users without embeddings http://dsnotes.com/post/2017-06-28-matrix-factorization-for-recommender-systems-part-2/

[2018-02-13 17:52] mayankgoel4 commented on #14
Thanks Dmitriy. This is awesome and package seems to be really fast for getting latent factors and worked for large volume of data.
Is it possible that you can also help me with below:
1, Any package in your portfolio that can serve as recommender based on item/user similarity based on Cosine/Jaccard etc, since standard recommenderlab package is not supporting and predicting on huge data?
2.Any im

[2018-02-14 08:25] dselivanov commented on #14
@mayankgoel4 what about http://text2vec.org/similarity.html#jaccard_similarity, http://text2vec.org/similarity.html#cosine_similarity ?
I'm not a user of recommenderlab package, so can't help. Probably the best thing to do is to ask stackoverflow or similar resource.

[2018-04-04 17:07] Hong-Revo opened #16 "CRAN release"
This package looks really impressive. Are you planning to put it on CRAN?

[2018-04-05 04:52] dselivanov commented on #16
Eventually will be on CRAN, but can't promise about timeline. Depends on when we will figure out how to properly link to `float` package and make it work with CRAN build system (not a priority now).

[2018-04-25 13:30] vkummer opened #17 "Install package"
Hi, I wanted to install the package using devtools::install_github("dselivanov/rsparse") but the installation always fails. The error it shows is:

ERROR: dependency ‘float’ is not available for package ‘rsparse’

How can I fix this?

[2018-04-25 13:47] dselivanov commented on #17
Try devtools::install_github("dselivanov/float") and then install rsparse.

ср, 25 апр. 2018 г., 9:30 vkummer <notifications@github.com>:

[2018-04-25 13:54] vkummer commented on #17
Thank you for your prompt reply. Couldn't install float though, here are the error messages I get:

ERROR: configuration failed for package ‘float’

C compiler cannot create executables

[2018-04-25 14:01] dselivanov commented on #17
Not sure why. Please provide `sessionInfo` and configure installation log.

ср, 25 апр. 2018 г., 9:54 vkummer <notifications@github.com>:

[2018-04-25 14:11] vkummer commented on #17
function (package = NULL)
{
    z <- list()
    z$R.version <- R.Version()
    z$platform <- z$R.version$platform
    if (nzchar(.Platform$r_arch))
        z$platform <- paste(z$platform, .Platform$r_arch, sep = "/")
    z$platform <- paste0(z$platform, " (", 8 * .Machine$sizeof.pointer,
        "-bit)")
    z$locale <- Sys.getlocale()
    if (.Platform$OS.type == "windows") {
        z$running <-

[2018-04-25 14:15] dselivanov commented on #17
`sessionInfo()` call :-)

ср, 25 апр. 2018 г., 10:11 vkummer <notifications@github.com>:

[2018-04-26 11:44] Weekend-Warrior opened #18 "Expanded GLM offering"
From FTRL, I saw that Poisson regression is on your to-do list. As an alternative, I'd like to suggest that you consider an implementation of the Tweedie family which allows, through tuning parameters, the Gaussian, Poisson, Gamma and Inverse Gaussian families, as well as the gradients between.

[2018-04-30 09:03] dselivanov commented on #17
strange - I also use R 3.4.4 on OS X. What does installation of `float` say? Could you provide full installation log ?

[2018-04-30 09:04] dselivanov commented on #18
Contributions/pull requests are very welcome. Not sure I will have time in near future to work on it.

[2018-04-30 23:40] avivbrokman commented on #17
I'd like to try out your factorization machine R code, to share with my class, but I'm also unable to install `float`. I am including the two things you requested from 'vkummer': the installation log and 'sessionInfo()`

FULL INSTALLATION LOG:

Downloading GitHub repo dselivanov/float@master
from URL https://api.github.com/repos/dselivanov/float/zipball/master
Installing float
'/Library/Frameworks

[2018-05-01 07:00] dselivanov commented on #17
@avivbrokman please install clang with openmp support - check instructions [here](https://github.com/coatless/r-macos-rtools#how-do-i-use-the-installer).

[2018-05-01 07:54] #17 closed

[2018-05-01 07:56] dselivanov commented on #17
@vkummer @avivbrokman I've removed `float` from dependencies and made robust configure script to identify OpenMP, BLAS, LAPACK. I believe now package can be easily installed with `devtools::install_github("dselivanov/rsparse")`. Please try and report if this doesn't work.

[2018-05-01 08:04] vkummer commented on #17
@dselivanov I tried to run `devtools::install_github("dselivanov/rsparse")` but it still doesn't work. Installation log:

Downloading GitHub repo dselivanov/rsparse@master
from URL https://api.github.com/repos/dselivanov/rsparse/zipball/master
Installing rsparse
'/Library/Frameworks/R.framework/Resources/bin/R' --no-site-file --no-environ  \
  --no-save --no-restore --quiet CMD INSTALL  \
  '/priv

[2018-05-01 11:48] dselivanov commented on #17
In order to be be able to install packages from source you need to isntall `xcode`:
[code]

[2018-05-23 09:09] Gbau08 opened #19 "item_exclude"
Hello Dmitriy ,

First of all thank you for your work. I've been using Rsparse since a couple of weeks and everything is running smooth and well. The addition of the evaluation metrics is really a plus and I've been toying around with data to see which algorithm works best with the data I have (currently Linear Flow).

There is something though that I can't make properly work. The argument "items_

[2018-05-24 12:21] dselivanov commented on #19
@Gbau08 Thanks for reporting. Could you provide minimal reproducible example using movielens100k data?
[code]

[2018-07-17 14:57] jamespr615 opened #20 "devtools::install_github("dselivanov/rsparse") Win7 Will not compile."
R version 3.4.4 (2018-03-15)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default
 - - - - - -
I could download and build 'float'.

it works.

* installing *source* package 'rsparse' ...
   **********************************************
   WARNING: this package has a configure script
         It probably needs manual configura

[2018-07-17 19:49] jamespr615 commented on #20
Sorry to bother,  by reviewing on line and seeing various related postings,   I found the answer, mostly in your previous comments.   Here is a duplicate of workaround resolution from another thread.

Sequence:
rsparse would not build.
Did devtools install of float.

devtools::install_github("dselivanov/float").
It built. .DLLs are present on the file system.

Could not build rsparse using devtool

[2018-07-18 16:36] dselivanov commented on #20
Yea, I know there some issues with autoconfigure. Unfortunately I don't have access to windows machine to figure out how to fix it. Also `float` is soft dependency for the latest versions. So you even don't need to install it.

[2018-07-19 05:01] mayankgoel4 commented on #14
Hi Dmitriy. Just a small question. If a am using predict function of reco package, does it handle and provide recommendations for all unseen items from training datasets or i have to manually get rid of seen items outside.
Ex: User have watched 5 items out of 100 items and we provide 10 recommendations for this user. Can any item out of 5 items that user have already watched be part of 10 recommen

[2018-07-19 14:14] dselivanov commented on #14
See `not_recommend` argument in predict function

[2018-07-20 06:28] mayankgoel4 commented on #14
Thanks Dmitriy for your quick response and continuous support.!! This package had been of great help to us.

[2018-07-21 14:03] ThakurRajAnand opened #21 "Classification Using Factorization Machines"
Thank you for this great package. Somehow, FM is not returning the probabilities for a classification problem and I can't find any parameter to force that as well. Please have a look at my code below and let me know if I am missing something
[code]
Code runs without any issues but returns class.

[2018-07-22 11:11] dselivanov commented on #21
@ThakurRajAnand could you provide reproducible example? for example using `movie_review` data from text2vec - http://text2vec.org/vectorization.html ?

[2018-07-26 21:40] BigTimeStats commented on #20
Hi @jamespr615,

I followed your instructions to install and still getting a failure.

Here is what I did:
1. `devtools::install_github('dselivanov/float')` installed successfully
2. Downloaded zip of this repo
3. Changed Makevars.win file
4. Updated path to the float .dll file which is in float package.
`C:\Users\...xxx...\Documents\R\win-library\3.4\float\libs\x64`
I did not find the i386 file,

[2018-07-27 01:18] jamespr615 commented on #20
Right.   I never got it to build from the repository.

I installed from local zip of master repo.

https://stackoverflow.com/questions/17366772/install-r-packages-from-github-downloading-master-zip

[https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded]<https://stackoverflow.com/questions/17366772/install-r-packages-from-github-downloading-master-zip>

Install R pa

[2018-07-27 15:43] BigTimeStats commented on #20
Gotcha, unfortunately that still did not work and getting the same error..

[2018-07-27 16:42] jamespr615 commented on #20
Ok.

If it is the problem that the linker cannot find the float.dll.

Typically I think R environment can find the .DLL in the folder of the package - cause it is registered in the R envirnoment - somehow.

I figured it could not find the float.dll because it did not get registered.

What i did was drop it into a dir windows already uses. like C:/windows/system32   and it found it.  Putting the di

[2018-07-27 20:38] BigTimeStats commented on #20
Thanks for looking into it. I put the .dll into system32 with no luck. I added the dir to path and also didn't work. I don't have rblas installed... tried to install it with no luck, seems like other people have also struggled.

I think the ~ are just abbreviations in the log, so I don't think that's the problem. They correspond to where all those items are located.

At a certain point, it becomes

[2018-07-27 20:53] dselivanov commented on #20
Hey here. I'm working on fix (will allow just to use `remotes::install_github("dselivanov/rsparse")`). Hope to push it very soon.

[2018-07-27 21:07] dselivanov commented on #20
@jamespr615 @BigTimeStats can you please try to install latest version from master with `remotes::install_github("dselivanov/rsparse")` or `devtools::install_github("dselivanov/rsparse")`  and report whether it works or not?

[2018-07-27 21:31] jamespr615 commented on #20
I will give it a try late this evening.

________________________________
From: Dmitriy Selivanov <notifications@github.com>
Sent: Friday, July 27, 2018 5:07 PM
To: dselivanov/rsparse
Cc: jamespr615; Mention
Subject: Re: [dselivanov/rsparse] devtools::install_github("dselivanov/rsparse") Win7 Will not compile. (#20)

@jamespr615<https://github.com/jamespr615> @BigTimeStats<https://github.com/BigTi

[2018-07-27 22:22] jamespr615 commented on #20
I tried the download.

No luck yet.

It had to install Rtools. then rerun the command and then it chokes on Rcpp version.

I will try to install Rcpp.3.4 directly and retry.

Kick off the iinstall -

It says - package needs some dependencies and tools - do you want to install now - Yes.

It goes to install Rtools34 or Rtools35.exe

The install.package script then fails,   and the install window fo

[2018-07-28 09:36] dselivanov commented on #20
I'm not sure about your particular problem - it seems you have non standard R/Rtools installation. I've checked latest rsparse on win builder service and everything runs fine and passes all the tests.

[2018-07-28 22:04] dselivanov commented on #21
Not reproducible

[2018-07-28 22:04] #21 closed

[2018-07-30 13:50] BigTimeStats commented on #20
@dselivanov thanks so much. I don't know what you did, but it seems to have worked!

Log in case it's helpful:
[code]

[2018-07-30 15:48] dselivanov commented on #20
Perfect!

[2018-07-30 15:48] #20 closed

[2018-08-14 01:10] jamespr615 commented on #20
It was my foolishness.

________________________________
From: Dmitriy Selivanov <notifications@github.com>
Sent: Saturday, July 28, 2018 5:36 AM
To: dselivanov/rsparse
Cc: jamespr615; Mention
Subject: Re: [dselivanov/rsparse] devtools::install_github("dselivanov/rsparse") Win7 Will not compile. (#20)

I'm not sure about your particular problem - it seems you have non standard R/Rtools installatio

[2018-10-25 15:30] dselivanov commented on #19
not reproducible

[2018-10-25 15:30] #19 closed

[2018-11-05 14:58] PalinMemoi commented on #10
devtools::install_github("dselivanov/reco")
Downloading GitHub repo dselivanov/reco@master
from URL https://api.github.com/repos/dselivanov/reco/zipball/master
trying URL 'https://cran.rstudio.com/bin/windows/Rtools/Rtools34.exe'
Content type 'application/x-msdownload' length 108085090 bytes (103.1 MB)
downloaded 103.1 MB

WARNING: Rtools is required to build R packages, but is not currently insta

[2018-11-05 15:06] dselivanov commented on #10
@PalinMemoi please install Rtools from CRAN as suggested in error message

[2018-11-05 16:19] PalinMemoi commented on #10
Plz, help me...I installed Rbuildtools. however, it doesn't work. I tried to install reco again by devtools.... It shows message as below
Downloading GitHub repo dselivanov/reco@master
from URL https://api.github.com/repos/dselivanov/reco/zipball/master
Installing rsparse
Installing 1 package: Rcpp
Installing package into ‘C:/Users/anik/Documents/R/win-library/3.4’
(as ‘lib’ is unspecified)
trying

[2019-01-28 16:39] filipwastberg opened #23 "How to use item_exclude"
Hi!

Thanks for a really impressive package.

In my world there are two common scenarios when building recommendation systems. You either want to recommend products that a customer has never liked (or bought) from your *whole* catalogue or you want to recommend products from a subset of the catalogue, e.g. products that are discounted. Most implementations of collaborative filtering focus on the f

[2019-02-01 09:31] filipwastberg commented on #4
Is there a `plumber` vignette coming for this?

[2019-02-01 10:00] dselivanov commented on #4
https://github.com/dselivanov/RestRserve

пт, 1 февр. 2019 г., 13:32 Filip Wästberg notifications@github.com:

[2019-02-01 12:13] filipwastberg commented on #4
Thanks, seems like a great alternative. I'll try and figure out how to user `rsparse` with it. Nevertheless, it would be helpful with a vignette for how you could deploy `rsparse` as a microservice.

[2019-04-14 13:38] #16 closed

[2019-04-22 17:52] wrathematics opened #24 "future float R version dependency"
Just a heads up, but in v3.6.0 of R, they are changing some Make macros that affect float. I believe the expectation is that to comply, I will need to submit an update soon using the new macros, and an R (>= 3.6.0) dependency.

I try to support pretty old versions of R so I'm not thrilled about this. Unfortunately I don't think there's any way avoid it. Hopefully this doesn't impact you too much.

[2019-04-22 17:54] wrathematics commented on #24
Forgot: this shouldn't affect your configure scripts or anything. It's a Fortran thing that is affecting float (because I have to ship the reference code, which is written in Fortran). Basically it just creates a >= 3.6.0 dependency for you (via float).

[2019-04-22 17:57] dselivanov commented on #24
Thanks for the notification. Not an issue for me since rsparse is pretty
new pkg with almost zero user base :-)

пн, 22 апр. 2019 г., 21:54 Drew Schmidt <notifications@github.com>:

[2019-04-22 20:42] #24 closed

[2019-04-25 07:44] zakariaBensmida commented on #10
Hi Dmitry,
i used a 3.3.3 r version with 3.4 rtolls versions and i runed this following code:

install.packages("devtools",type="win.binary")
library(devtools)
devtools::install_github("dselivanov/reco")

(without "win.binary" I was not able to install devtools that"s why i have used it )
so after running i got rsparse installed but reco is not . i have repeated the same process but with 3.5 versi

[2019-04-25 07:51] dselivanov commented on #10
@zakariaBensmida it is on CRAN now and you can use just `install.packages('rsparse')`

[2019-04-25 07:55] zakariaBensmida commented on #10
Hi Dmitry
and then? how to install reco?

[2019-04-25 07:56] dselivanov commented on #10
There is no more reco. It was renamed/refactored to rsparse.

чт, 25 апр. 2019 г., 11:55 zakariaBensmida <notifications@github.com>:

[2019-04-25 08:00] zakariaBensmida commented on #10
Oh my god !!! so you mean i must change some code in your tutorial also? i mean the artist/music recommender system example?

[2019-04-25 08:01] dselivanov commented on #10
Yes, but I think it will be not too many changes.

чт, 25 апр. 2019 г., 12:00 zakariaBensmida <notifications@github.com>:

[2019-04-25 08:01] zakariaBensmida commented on #10
Thank youuuuuuuuuuu veryyyyyyy muchhhhhhhhhhhh

[2019-04-25 08:36] zakariaBensmida commented on #10
Hi Dmitry,
when i run this:
model$add_scorer(x = X_cv_history_conf, y = X_cv_future, name = "ndcg-10", metric = "ndcg@10")

model$add_scorer(x = X_cv_history_conf, y = X_cv_future, name = "map-10", metric = "map@10")

i got this error :
Error: attempt to apply non-function

[2019-04-25 08:45] dselivanov commented on #10
This was removed from pkg API as I found it redundant. Please consult with
the pkg documentation - `?WRMF`. You can examine model performance after
model fitting - see `?metrics`.

On Thu, Apr 25, 2019 at 12:36 PM zakariaBensmida <notifications@github.com>
wrote:

--
Regards
Dmitriy Selivanov

[2019-04-25 09:17] zakariaBensmida commented on #10
Hi dmitry,

when i use the below  code i cant find any predictiosn so i can use this code"ap_k(predictions, actual)"
set.seed(1)
library(data.table)
raw_data<-fread("J:/MK-OM-AC/Projekte/Ranking/Daten/usersha1-artmbid-artname-plays.tsv",showProgress=T)

setnames(raw_data, c("user_id", "artist_id", "artist_name", "number_plays"))
head(raw_data)
user_encoding = raw_data[, .(uid = .GRP), keyby = user

[2019-04-25 09:33] zakariaBensmida commented on #10
i tried this one but it does not work
actual = as(X_train_conf, "RsparseMatrix")
identical(rsparse::ap_k(user_embeddings[,7], actual), 1)
Error in rsparse::ap_k(user_embeddings[, 7], actual) :
  is.matrix(predictions) is not TRUE

[2019-04-25 09:55] dselivanov commented on #10
Try user_embeddings[, 7, drop = F]

чт, 25 апр. 2019 г., 13:33 zakariaBensmida <notifications@github.com>:

[2019-04-25 10:16] zakariaBensmida commented on #10
sorry but i have soome idiot questions .is the below the predictions or only the seventh column is the predictions?
head(user_embeddings)
                                                                                      [,1]             [,2]                [,3]       [,4]             [,5]       [,6]
00000c289a1829a808ac09c00daf10bc3c4e223b -4.4366019 -6.4496755 7.759140  4.0778027 3.021041 -2.

[2019-07-09 21:48] mscbuck opened #25 "Error loading rsparse after install"
Hi all,

I've been receiving this error when trying to load rsparse

1. Have tried installing from CRAN and it appears to install fine, but when loading with library(rsparse)....

`> library(rsparse)
Error: package or namespace load failed for ‘rsparse’ in dyn.load(file, DLLpath = DLLpath, ...):
 unable to load shared object '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/rsparse/l

[2019-07-10 11:58] dselivanov commented on #25
Hi. Thanks for report. I'm traveling at the moment, will be able to take a
look next week.

ср, 10 июл. 2019 г., 0:48 Michael Clutterbuck <notifications@github.com>:

[2019-07-14 11:39] dselivanov commented on #25
The issue with cran version is that you install 'pre-build' package. It seems there is a bug/issue with `float` package that it - see [here](https://www.r-project.org/nosvn/R.check/r-release-osx-x86_64/float-00check.html) and [here](https://www.r-project.org/nosvn/R.check/r-release-osx-x86_64/float-00install.html). Related discussion is [here](https://github.com/wrathematics/float/pull/21#issuecom

[2019-07-15 14:34] mscbuck commented on #25
Thank you much! Can confirm that I was able to get it working with those changes. Thank you for the quick reply!

[2019-07-19 16:37] dselivanov opened #26 "Embarrassingly Shallow Autoencoders for Sparse Data"
https://arxiv.org/abs/1905.03375 - should be trivial to implement

[2019-07-28 04:30] snoweye commented on #25
See if [this float](https://github.com/snoweye/float/commit/4be7a95251baa4d2903f88810a43be81c6bca773) and [this rsparse](https://github.com/snoweye/rsparse/commit/4f457134d9ff4d447107f81af6272c7e2bfc1e9b) fix the mac osx problems or not. Thanks.

[2019-09-16 10:55] dselivanov opened #29 "EigenRec: Generalizing PureSVD for Effective and Efficient Top-N Recommendations"
https://arxiv.org/pdf/1511.06033.pdf

[2019-09-16 10:59] dselivanov commented on #26
Closing as this paper is garbage as it is not practical - involves inversion of the item-item similarity matrix.
- inversion of real world item-item (> 50k items) is expensive
- inverted matrix is dense

These 2 facts make model completely impractical.

[2019-09-16 10:59] #26 closed

[2019-09-16 11:00] dselivanov opened #30 "HybridSVD: When Collaborative Information is Not Enough"
Looks very interesting and not too hard to implement https://arxiv.org/pdf/1802.06398.pdf

[2019-11-17 06:32] dselivanov commented on #25
should be fixed with rsparse `0.3.3.4` - we link to static float lib (i've tried on my my and it works).

[2019-11-17 06:32] #25 closed

[2020-01-11 09:40] #12 closed

[2020-01-11 09:40] #18 closed

[2020-01-21 17:59] mscbuck commented on #29
I noticed that there was a commit that implements the ScaleNormalize in the dev version of rsparse? Is there any guide on how one would use it? I imagine I would simply provide a dense symmetric matrix of item-item similarity (whatever measures), and then would use the resulting scaled matrix out of ScaleNormalize, perform SVD, and multiply to match Eq (13) in the paper?

[2020-01-22 06:16] dselivanov commented on #29
I've added support via scaling input matrix (which corresponds to `cosine` similarity matrix from the paper).

[code]

[2020-04-05 05:32] #29 closed

[2020-11-05 15:46] david-cortes opened #35 "Optimization objective under explicit feedback"
In `WRMF`, there is the following loss function:
[code]
The function calculates squared loss over non-missing entries.

But then there is the following solver:
[code]
The solver finds the solution to a problem in which the missing entries are zeros (i.e. they count towards the loss).

Should one of them be fixed?

When evaluated in terms or RMSE, the solver with missing-as-zero tends to lead to ve

[2020-11-05 16:00] dselivanov commented on #35
Explicit feedback solver should not treat missing as zeros in loss
calculation, it should just ignore missing values... Let me see if there is
a big there.

On Thu, 5 Nov 2020, 19:46 david-cortes, <notifications@github.com> wrote:

[2020-11-05 17:06] dselivanov commented on #35
@david-cortes you are right, `solver_explicit_feedback` needs to follow same logic as implicit. For quick fix pure R solver (but still fast) can be adopted from here - http://dsnotes.com/post/2017-05-28-matrix-factorization-for-recommender-systems/

I will try to fix this bug next week (but of course if you have solution feel free to send PR! )

[2020-11-10 08:55] dselivanov commented on #35
@david-cortes I've revisited solver and optimized "concise" notation  I've used  (solving full matrix at once instead of iterating updating user and item factors one by one). And it indeed ignores zeros (in order to test if it correct, I've created a solver which goes one by one).

Now the question is why you are getting worse RMSE. Would it be possible to share a reproducible example (so I don't

[2020-11-10 10:17] david-cortes commented on #35
Ok, I'll share an example about RMSE, but for now, I'll provide an example about solving the user factors.

Suppose we have a dataset with 8 items and 1 user, having these ratings/values:
[code]

And we have these factors for the items:
[code]

The function `solver_explicit_feedback` would give these user factors (8 items, `k=2`):
[code]
If I calculate the optimization objective as:
[code]
Assumin

[2020-11-10 12:08] #35 closed

[2020-11-10 12:15] dselivanov commented on #35
Please try latest commit https://github.com/rexyai/rsparse/tree/90966fb134fbfdd2e2c649e8198a1eab8fae1d0a

The issue seems was that `XtX` need to be calculated only for non-zero users/items (as you did in your example above).

Also note that in your example you need to use `col = R@i + 1L` (shift indices by 1). R's sparse matrices `@i` and `@p` indices start from 0 instead on common 1. So essential

[2020-11-10 12:32] david-cortes commented on #35
Thanks, seems to be working correctly now.

[2020-11-10 12:33] dselivanov commented on #35
@david-cortes thanks for bug report and really helpful reproducible example!

[2020-11-13 15:12] david-cortes opened #36 "Non-negativity constraints"
In `WRMF`, there is an option `non_negative`, which is handled by first finding the unconstrained factors and then setting them to zero if they turn out negative:
[code]

But in general, the solution of a constrained linear system is not the solution of the unconstrained system with the non-conforming coefficients set to the bounds (see e.g. https://en.wikipedia.org/wiki/Non-negative_least_squares

[2020-11-13 17:30] dselivanov commented on #36
Good catch about transform!

As for method - yes it is a NNLS workaround.

I didn't find goog nnls solver at the time of writing (do you know any
C/C++ solver which is easy to embed?). So I decided to try approach similar
to "projected gradient" which essentially means setting negative values to
zero at each step.

On Fri, 13 Nov 2020, 19:13 david-cortes, <notifications@github.com> wrote:

[2020-11-13 18:32] david-cortes commented on #36
Not sure about NNLS optimizers, and am not familiar with the state-of-the-art in non-negative matrix factorization.

Perhaps it’s an overkill, but it’s possible to use a generalized optimizer for differentiable functions with bound constraints – for example, base R provides a C port of the L-BFGS-B solver (the header is in `Rext/Applic.h`), but it uses R’s allocators so it cannot be used in an ope

[2020-11-15 07:50] david-cortes opened #38 "Cholesky solver"
I'm getting some pretty bad results using `WRMF` with the Cholesky solver.

I tried doing a reproducible experiment as follows:
* Took the LastFM360k data.
* Set the first 357k users as train, rest ~1800 as test.
* Fit a `WRMF` model with `k=40` and `lambda=1` and 10 iterations.
* Calculated factors and top-5 predictions for the test users.
* Calculated hit rate at 5 for them.

And got the followi

[2020-11-15 10:01] dselivanov commented on #38
Thanks for reporting, I will take a look. Actually I expect the problem is the same as in #35 - `XtX`.

Loss with Cholesky should be lower, but hit rate might be worse since we don't optimize it directly...

[2020-11-15 13:00] dselivanov commented on #38
@david-cortes could set logger to `debug` and check the loss? From what I see cholesky achieves smaller (or about the same) loss:
[code]

[2020-11-15 13:03] david-cortes commented on #38
But that loss is not the same function that is being minimized. The solver minimizes the values over all entries, whereas the loss function calculates it over the present entries.

[2020-11-15 13:09] dselivanov commented on #38
@david-cortes you are right! starting to forget all the details...

[2020-11-15 13:22] david-cortes commented on #38
Well I did some experiments calculating over all entries and they do indeed end up with similar loss. Weird that the resulting from Cholesky then performs worse at other metrics.

[2020-11-15 13:34] david-cortes commented on #38
Did some more experiments this time, from the same movielens. After running for 10 iterations with seed=1, I get these losses:
* CG: 74295.25
* Cholesky: 74202.05

Whereas with the other package I was comparing, I get these:
* CG: 78421.88
* Cholesky: 73278.85

Wonder where the difference comes from...

[2020-11-15 13:37] dselivanov commented on #38
And if you remove `arma::solve_opts::fast` argument from the solver?

[2020-11-15 13:44] david-cortes commented on #38
Then the loss does end up lower than for CG, even though in a test set it didn't improve HR@5 or AUC. I guess technically it is working as it should - that is, it minimizes the function it is intended to - so I'll close this.

[2020-11-15 13:44] #38 closed

[2020-11-16 08:27] dselivanov commented on #36
@david-cortes I've added NNLS solver from https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.1075.4794&rep=rep1&type=pdf. Code adapted from https://github.com/linxihui/NNLM/.
Let's see how it will work as subroutine in WRMF.

[2020-11-16 11:40] david-cortes commented on #36
I think it might be better to split `WRMF` between the implicit feedback variant and the explicit feedback variant (which is not weighted) so as to make the available options for each more clear.

Also perhaps could be a good opportunity to add an option in the explicit variant for biases and mean centering too - it shouldn't require too many modifications.

[2020-11-16 11:59] david-cortes commented on #36
Actually, looking at the paper again, I see the same method could also be applied to the implicit feedback variant with minor modifications. Seems spark also offers a non-negative implicit feedback variant: https://spark.apache.org/docs/latest/api/python/_modules/pyspark/mllib/recommendation.html#ALS.trainImplicit

[2020-11-16 12:09] dselivanov commented on #36
Yes that is the plan. We just needed a non-negative variant of `solve`  which can be used from C++ code inside threads. `nnls` solver from my commit is not that fast as `nnls::nnls` (which is significantly slower than cholesky). Hopefully will share some results in coming days.

[2020-11-18 13:08] dselivanov commented on #36
@david-cortes take a look into non-negative solver for implicit feedback. It seems it is only a little bit slower than Cholesky. In terms of metrics it seems it noticeably worse compared to one without non-negative constraints.

[2020-11-18 15:55] david-cortes commented on #36
Seems to be working correctly, and the metrics are better than when the earlier strategy, although they are indeed bad compared to the unconstrained version.

[2020-11-18 16:17] david-cortes commented on #36
Actually, upon further inspection, it's not giving the exact solution, will try to post an example but it will involve some python.

[2020-11-18 17:26] david-cortes commented on #36
Well had some errors with my test, in the end it **is** working correctly, up to some decimal precision. Here I'm leaving a short test:
[code]

[2020-11-18 17:55] #36 closed

[2020-11-24 14:10] zdebruine opened #42 "Instability in rsparse::WRMF convergence and loss function"
Hey Rexy,

Your WRMF function looks really promising in terms of fast performance, but I've noticed some odd happenings.

First off, this is my use case:

[code]

**1. WRMF converges when error loss increases, not when it begins to decrease more slowly**
I noticed that your function has some instability that permits the error loss to increase from one iteration to the next. For example, here's out

[2020-11-24 16:38] dselivanov commented on #42
@ZacharyDeBruine are you referring to the CRAN version of the package? May we know your `sessionInfo()` ?

Stopping criterion is following: https://github.com/rexyai/rsparse/blob/0ea378bc8c1cbe3e0ee2af3dbd9762e2a843655e/R/model_WRMF.R#L237
ALS optimization step by design should decrease loss. If loss starting to grow - there is no point to continue. Sudden loss increase seems related to the way NM

[2020-11-24 18:28] ZacharyDeBruine commented on #42
Thanks for the quick reply!  Ah, yes the discussion and fix in #36 is exactly what I was after.  I was using the CRAN version.  Opened up the GitHub latest commit and it's great now.

Thanks for all your hard work on this!  Sorry I was a bit overstated on my frustration.  Now I get the concept of minimizing error only for observed values but not for missing values.

[2020-11-26 14:58] zdebruine opened #43 "Development version failing compilation with devtools::install_github("rexyai/rsparse")"
I've tried installing `rsparse` with devtools:

[code]

This returns the following error (tail of the system log result):

[code]

My `sessionInfo()`:

[code]

If I understand the issue correctly, the `uint` class used in `RcppExports` is throwing the issue. I can't get the RcppExports file to compile on it's own loading it directly via source. However, if I change `uint` to `int` it works fine.

[2020-11-27 14:28] ZacharyDeBruine commented on #43
I forked the directory and changed all instances of `uint` to `int` in all files (nnls.hpp, RcppExports.cpp, and nnls.cpp).

The code now compiles!  See Dirk Edelbuettel's guidance in the comment to the answer in this question:

https://stackoverflow.com/questions/17558658/rcpp-creating-a-dataframe-with-a-vector-of-long-long

Apparently it's better to simply use `int` or `double` in Rcpp exports,

[2020-11-29 11:04] #43 closed

[2020-11-29 11:13] #42 closed

[2020-11-29 19:11] dselivanov opened #44 "user and item biases in WRMF and explicit feedback"
As of  https://github.com/rexyai/rsparse/commit/35247b4545fa44c1b88f9940d65641a86a5bd4b8

### without biases
[code]

INFO  [23:09:40.268] iter 1 loss = 4.4257
INFO  [23:09:40.302] iter 2 loss = 1.2200
INFO  [23:09:40.332] iter 3 loss = 0.8617
INFO  [23:09:40.361] iter 4 loss = 0.7752
INFO  [23:09:40.391] iter 5 loss = 0.7398
INFO  [23:09:40.420] iter 6 loss = 0.7191
INFO  [23:09:40.456] iter 7 los

[2020-11-29 20:13] david-cortes commented on #44
With biases plus mean centering:
[code]

With rnorm init + biases + mean centering:
[code]

Although, the loss function is taking the regularization incorrectly so these aren't final numbers yet.

[2020-11-30 04:18] dselivanov commented on #44
@david-cortes

Could you please elaborate more on that?

[2020-11-30 07:30] david-cortes commented on #44
It had a bug in which it was taking the squared sum of X twice instead of taking Y. Also I think it's adding a row of all-ones into the calculation.

[2020-11-30 07:42] dselivanov commented on #44
Ok, this fixed now

Doesn't seem so as `arma::span(1, X.n_rows - 1)` skips first and last row (ones and biases)

[2020-11-30 11:44] dselivanov commented on #44
[code]

[2020-11-30 12:32] david-cortes commented on #44
I think the more correct way of adding the regularization with biases would be to exclude only the row that has ones while still adding the row that has biases, as the regularization is also applied to the user/item biases.

[2020-12-06 22:03] david-cortes commented on #44
I'm pretty sure there is still some unintended data copying going on with the current approach. I tried timing it with the ML10M data, got these results:

* With biases:
[code]

* Without biases:
[code]

Adding the biases made it take 49% longer to fit the model.

For comparison purposes, these are the same times using the package cmfrec, which has a less efficient approach for the biases (uses ra

[2020-12-07 10:10] dselivanov commented on #44
@david-cortes should be fixed now, can you try? I'm surprised cmfrec is almost 2x faster! I would expect arma to be translated into effecient blas calls.

[2020-12-07 14:51] david-cortes commented on #44
Now it's producing a segmentation fault.

[2020-12-07 14:58] david-cortes commented on #44
Actually, the segmentation fault was not from 3731ca0a4c8c9c543e1bb4311aae0b6f64e76608, but from the commits that follow.  However, this commit actually makes it slower:
[code]

[2020-12-07 15:15] david-cortes commented on #44
Ran it again after using "clean and rebuild" from the current commit at the master branch, now it didn't segfault anymore, and took the same time as before with the biases (~16s). Perhaps I had some issue with the package calling the wrong shared object functions.

[2020-12-07 15:19] david-cortes commented on #44
Another interesting thing however: using `float` precision makes it take less than half the time when not using biases (~4.7s vs ~10.7s). But when using biases now it returns NANs with float.

[2020-12-07 17:20] dselivanov commented on #44
I test it with following code

[code]

[code]

The later used to be ~0.9-1

[2020-12-07 17:21] dselivanov commented on #44
@david-cortes check https://github.com/rexyai/rsparse/commit/7fcb1d39b6ff9ff7acabe3cf5af8f9e2fa208d34 - I've remove `subview`.

vs ~10.7s). But when using biases now it returns NANs with float.

I will take a look

[2020-12-07 19:24] dselivanov commented on #44
This seems related to LAPACK which is used by the system. If you only use LAPACK which is shipped with R (which only works with `double`) then `float` pkg provides it's own single precision LAPACK. Which seems more then twice faster compared to R's reference LAPACK.
If you have high performance system-wide BLAS and LAPACK then `float` pkg will detect it and use it. And rsparse and arma will also l

[2020-12-07 19:29] david-cortes commented on #44
I'm using openblas. Tried `ldd` on the generated `.so` and it doesn't look like it's linking to anything from `float`:
[code]

[2020-12-07 19:33] david-cortes commented on #44
Here's an example:
[code]
[code]

[2020-12-07 19:35] dselivanov commented on #44
Yes, that looks correct - it should not link to float if there is
system-wide BLAS and LAPACK with float support. Not sure about more than
linear speed-up. Maybe cache-efficiency due to lower memory footprint...

On Mon, Dec 7, 2020 at 11:29 PM david-cortes <notifications@github.com>
wrote:

--
Regards
Dmitriy Selivanov

[2020-12-07 19:44] dselivanov commented on #44
On my machine it works fine... Numerical issues on a particular setup?
[code]

[2020-12-07 20:06] david-cortes commented on #44
I don't think it's an issue with numerical precision, because it works fine under commit a7860f16a0902beae3b25e0fec054d52469fa94d and the same problem seems to occur with MKL.

By the way, the current commit on master doesn't compile on windows, something to do with unsigned integer types being undefined.

[2020-12-08 05:04] dselivanov commented on #44
I'm not sure what is wrong in your case. I've tried latest commit on my ubuntu workstation with openblas and it works normally, not throws NaN.
What compilation flags do you use?

[2020-12-08 08:30] david-cortes commented on #44
I'm using the default flags:
[code]

[2020-12-08 08:39] david-cortes commented on #44
By the way, the non-negative CD algorithm still works fine when the data is mean centered.

[2020-12-08 08:49] dselivanov commented on #44
How product of two non negative vectors can give potentially negative value (after centering)

[2020-12-08 08:50] david-cortes commented on #44
Thing is, if the data is non-negative, the mean will also be non-negative.

[2020-12-08 09:33] dselivanov commented on #44
Yes, it is kind of work, but loss is huge and model is not that useful.

[2020-12-09 08:56] david-cortes commented on #44
I think this has to do with AVX instructions and array padding. If I disable newer instructions by setting `-march=x86-64` it works correctly, but with `-march=native` it won't. These are the instruction set extensions in my CPU:
[code]

Perhaps something to do with the `unsafe` keywork?

[2020-12-09 10:03] dselivanov commented on #44
Yes, I had segfaults this subviews as well...

[2020-12-09 11:25] dselivanov commented on #44
I think we are done here. There will a separate thread for a model with biases with`implicit` feedback data.

At the moment I'm little bit short in time.  @david-cortes feel free to make a shot for a biases on `implicit` feedback model (if you are interested of course).

[2020-12-09 11:25] #44 closed

[2020-12-09 15:54] david-cortes commented on #44
@dselivanov  I’m not so sure it’s something desirable to have actually. I tried playing with centering and biases with implicit-feedback data, and I see that adding user biases usually gives a very small lift in metrics like HR@5, but item biases makes them much worse.

You can play with `cmfrec` (version from git, the one from CRAN has bugs for this use-case) like this with e.g. the lastFM data o

[2020-12-09 19:02] dselivanov opened #53 "WRMF user and item biases for implicit feedback data"
@dselivanov  I’m not so sure it’s something desirable to have actually. I tried playing with centering and biases with implicit-feedback data, and I see that adding user biases usually gives a very small lift in metrics like HR@5, but item biases makes them much worse.

You can play with `cmfrec` (version from git, the one from CRAN has bugs for this use-case) like this with e.g. the lastFM data o

[2020-12-09 19:06] dselivanov commented on #53
@david-cortes that's interesting information. Do biases help to reduce loss?

My intuition is that item biases should be highly correlated with item popularity.  I would expect them help significantly for users with few interactions.

As for centering - I'm not sure if it will help.

[2020-12-10 21:33] david-cortes commented on #53
I'm realizing there might be a bug with the item biases in `cmfrec`. But here's a comparison with centering and user biases for now:
[code]

Results:
[code]

So the change doesn't look too big.

[2020-12-11 16:17] david-cortes commented on #53
My bad, there's actually no bug in `cmfrec`, it's this loss function that was wrong. Doing the experiment again:
[code]
[code]

Thus: centering improves the loss during the first couple iterations, but after 10 iterations it actually reaches a worse local optimum. User biases bring a very small improvement. And for some reason I cannot get this loss function snippet work properly with item biases,

[2020-12-11 18:01] dselivanov commented on #53
@david-cortes thanks for example. I will try to play with `cmfrec` and user-item biases. Could you provide a link to the code where user-item biases for implicit feedback implemented?

[2020-12-11 21:46] david-cortes commented on #53
It's implemented through different functions. First it has some aggregated steps like this:
https://github.com/david-cortes/cmfrec/blob/259057fcb59f2c0115f9737c6a18cbe1347925e9/src/collective.c#L7518

Then it calls function `factors_closed_form` in a loop here:
https://github.com/david-cortes/cmfrec/blob/259057fcb59f2c0115f9737c6a18cbe1347925e9/src/common.c#L625
(key there are the variables named

[2020-12-24 08:16] dselivanov commented on #53
@david-cortes I have some challenges with cmfrec... Would be great if you can provide an example on how to predict top n items for new users. Here I've put a template:

[code]

 $ train:Formal class 'dgCMatrix' [package "Matrix"] with 6 slots
  .. ..@ i       : int [1:3039] 10 13 24 32 45 46 52 54 55 59 ...
  .. ..@ p       : int [1:1683] 0 13 17 20 26 30 31 42 53 61 ...
  .. ..@ Dim     : int [1:

[2020-12-24 10:58] david-cortes commented on #53
Sorry had a bug with `topN` that threw incorrect results when not using biases, fixed now.

The easiest way to use that function is to pass the data as a `sparseVector` from `Matrix`:
[code]

Although you could also take the matrices and replace the values of `$components` from a `WRMF` object. These are available under `model$matrices` (`A` is the user factors, `B` is the item factors, and the bi

[2020-12-24 12:29] dselivanov commented on #53
But still there is an ALS step when item-embeddings are fixed. And this should call `cmfrec` solver under the hood.

### map@k

here how I calculate map@k with cmfrec

[code]

For lastfm360 it looks there is a moderate lift in map@10:
- 0.2880954 without user and item biases
- 0.298398 with user and item biases

[2020-12-24 12:48] dselivanov commented on #53
@david-cortes also when `lambda > 0` I observe very strong correlation between item bias and item popularity. Interestingly that when lambda close to 0 this is not the case. I think there might be chance that are some issues in the code related to this fact.

[2020-12-24 13:53] david-cortes commented on #53
I'll have to guess that this increment in MAP@10 is less than what you'd see from using k+2 factors, ergo not worth it.

The low correlation might be due to numerical instability when using too small lambda. By default it uses a GC solver and then switches to Cholesky in the last iteration, so perhaps it'd look a bit better using `finalize_chol=FALSE`.

Or perhaps could be due to how you're measur

[2020-12-24 15:23] dselivanov commented on #53
Well, it is rather worth to compare to  the model with k+1 factors. Also biases should make a huge difference for users with few/no interactions.

[2020-12-27 07:27] dselivanov commented on #53
What I've figured out so far:

- only code for rhs is affected
- `rhs = X * C_u * (p_u - x_biases) = X * eye * (0 - x_biases) + X * diag(1 + f(r_ui)) * (1 - x_biases)`

- `rhs_init = X * eye * (0 - x_biases) = -X * x_biases` can be precomputed
- then for each user we calculate
  - `rhs = rhs_init + X.cols(idx_nnz) * x_biases(idx_nnz)` - removing p=0 terms from init
  - `rhs = rhs + X.cols(idx_nnz)

[2020-12-27 13:06] david-cortes commented on #53
But that can be simplified further:
[code]
That way you also avoid an extra matrix multiplication.

[2020-12-27 13:26] dselivanov commented on #53
Yeah, I've done that in #54 . However results are quite different from cmfrec and map@k significantly worse compared to the model without biases.
User/item biases on other side are highly correlated with popularity...

[2020-12-28 19:08] david-cortes commented on #53
By the way, it's also straightforward to add it to the CG method: you just need to modify the calculation for the first residual.

[2021-01-15 21:04] david-cortes opened #60 "Dead wikipedia link"
The docs for `metrics` point to https://en.wikipedia.org/wiki/Information_retrieval#Average_precision , but this wikipedia article no longer has such section.

Would be good to give a description right there of what `ap_k` calculates, as there's different ways of defining this metric.

[2021-05-09 08:47] #53 closed

[2022-01-30 02:06] david-cortes opened #71 "Configure script doesn't pick OpenMP"
In a clean debian linux install, the configure script will not end up adding openmp linkage flags to `Makevars`. I guess there is something going wrong in the testing for R's flags - I get this when I run the command on my setup:
[code]
[code]
But the configure script still doesn't end up picking -fopenmp when it generates the final `Makevars` file.

Nowadays it's BTW safe to just use `$(SHLIB_OPE

[2022-01-30 17:23] david-cortes opened #72 "Huge performance degradataion for WRMF"
In version 0.5.0 from CRAN (installed with a modified `Makevars.in` to force OMP linkage), there is a huge slowdown in `WRMF` with implicit feedback compared to earlier versions.

For example, if I try running it on the LastFM-360K dataset with this configuration + 15 iterations with no early stopping:
[code]

And then compare different libraries with these same settings, I get the following times

[2022-01-30 17:39] david-cortes commented on #72
Actually it's not related to the version. Tried downgrading to 0.4.0 and got the same timings. Perhaps something to do with newer armadillo versions?

[2022-05-16 12:16] #71 closed

[2022-11-16 15:59] BrandonKMLee opened #74 "Q; Python wrappers?"
Sorry for asking, but could this library include a Python wrapper for trying the new algorithms?

[2022-11-17 02:39] dselivanov commented on #74
Take a look at [cmfrec](https://github.com/david-cortes/cmfrec) which implements most (if not all) solvers available here.

[2022-11-17 02:39] #74 closed